@import "../_partials/fonts";

body {
  //font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-family: Roboto;
  background: url("../../img/bg.jpg") repeat-x 0 0;
}

.navbar {
  background: #c31e24;
  background: -moz-linear-gradient(top, #c31e24 0%, #8d0909 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #c31e24), color-stop(100%, #8d0909));
  background: -webkit-linear-gradient(top, #c31e24 0%, #8d0909 100%);
  background: -o-linear-gradient(top, #c31e24 0%, #8d0909 100%);
  background: -ms-linear-gradient(top, #c31e24 0%, #8d0909 100%);
  background: linear-gradient(to bottom, #c31e24 0%, #8d0909 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#c31e24', endColorstr='#8d0909', GradientType=0);
  border-radius: 0 0 8px 8px;
  -webkit-border-radius: 0 0 8px 8px;
  -moz-border-radius: 0 0 8px 8px;
  min-height: 36px !important;
  float: left;
  position: relative;
  width: 100%;
}

.nav-top {
  list-style: none;
  padding: 6px 10px 0;
  margin: 0;

  li {
    float: left;
    position: relative;
    overflow: hidden;
    .submenu {
      position: absolute;
      top: 200%;
      left: 0;
      background: #8e0a0a;
      list-style-type: none;
      margin: 0;
      min-width: 100px;
      border-radius: 0 0 6px 6px;
      padding-bottom: 5px;
      opacity: 0;
      transition: .2s;
      z-index: -1;
      li {
        display: block;
        float: none;
        padding: 3px;
        transition: .3s;
        &:hover {
          background-color: #c21e24;
        }
        a {
          display: block;
          white-space: nowrap;
          border: none;
        }
      }
    }
    &:hover {
      overflow: visible;
      .submenu {
        top: 100%;
        opacity: 1;
        z-index: 14;
      }
    }

    a {
      color: #fff;
      text-decoration: none;
      display: block;
      font-size: 13px;
      padding: 2px 10px;
      border-right: 1px solid #000;
      border-left: 1px solid #af3c3e;
    }
    &:first-child a {
      border-left: none;
    }
    &:last-child a {
      border-right: none;
    }
    & > a:hover, & > a:focus, & > a:active {
      background-color: transparent;
      text-shadow: rgba(0, 0, 0, 0.7) 0 1px 2px;
      color: #eee;
    }
  }
  .hvr-overline-from-center {
    &:before {
      top: auto;
      bottom: 0;
      height: 1px;
      background: #000;
    }
  }
}

.cart {
  &.hvr-shutter-out-vertical {
    background: #D0575C;
    background: -moz-linear-gradient(top, #D0575C 0%, #AA4847 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #D0575C), color-stop(100%, #AA4847));
    background: -webkit-linear-gradient(top, #D0575C 0%, #AA4847 100%);
    background: -o-linear-gradient(top, #D0575C 0%, #AA4847 100%);
    background: -ms-linear-gradient(top, #D0575C 0%, #AA4847 100%);
    background: linear-gradient(to bottom, #D0575C 0%, #AA4847 100%);
    &:before {
      background: #0e87cb;
      border-radius: 0 0 8px 0;
      -webkit-border-radius: 0 0 8px 0;
      -moz-border-radius: 0 0 8px 0;
    }
  }
  height: 36px;
  float: right;
  padding: 0 10px 0 0;
  background: #D0575C;
  background: -moz-linear-gradient(top, #D0575C 0%, #AA4847 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #D0575C), color-stop(100%, #AA4847));
  background: -webkit-linear-gradient(top, #D0575C 0%, #AA4847 100%);
  background: -o-linear-gradient(top, #D0575C 0%, #AA4847 100%);
  background: -ms-linear-gradient(top, #D0575C 0%, #AA4847 100%);
  background: linear-gradient(to bottom, #D0575C 0%, #AA4847 100%);
  border-radius: 0 0 8px 0;
  -webkit-border-radius: 0 0 8px 0;
  -moz-border-radius: 0 0 8px 0;
  color: #fff;

}

.cart-tbl {
  display: table;
  padding: 3px 11px;
  .cart-td {
    display: table-cell;
    vertical-align: middle;
    padding: 0 5px;
    a {
      padding-left: 5px;
      color: #fff;
      &:hover {
        text-decoration: none;
      }
    }
    &:first-child {
      //width: 10%;
      font-size: 20px;
    }
  }
}

.clocks-tbl {
  display: table;
  padding: 15px 35px;

  .clocks-td {
    display: table-cell;
    vertical-align: middle;
    font-size: 12px;
    i {
      color: #000;
      font-size: 40px;
    }
  }
  .clocks-icon {
    vertical-align: top;
  }
  .clocks-list {
    padding-left: 10px;
  }
  .clocks-tr {
    display: block;
  }
}

.phones-tbl {
  display: table;
  padding: 15px 35px;
  .phones-td {
    display: table-cell;
    vertical-align: middle;
    font-size: 16px;
    padding-left: 10px;
    i {
      background-color: #000;
      border-radius: 50%;
      padding: 3px 6px;
      color: #fff;
      font-size: 24px;
    }
  }
  .phones-tr {
    display: block;
  }
  .order-call-link {
    padding-left: 10px;
    a {
      text-decoration: underline;
    }
    a:hover {
      text-decoration: none;
    }
  }
}

.logo-wrapper {
  color: #db1536;
  font-weight: bold;
  font-family: Courier, monospace;
  font-size: 50px;
  letter-spacing: 5px;
  text-shadow: 0px 0px 0 rgb(195, -3, 30), 1px 1px 0 rgb(180, -18, 15), 2px 2px 0 rgb(166, -32, 1), 3px 3px 0 rgb(151, -47, -14), 4px 4px 0 rgb(137, -61, -28), 5px 5px 0 rgb(122, -76, -43), 6px 6px 0 rgb(108, -90, -57), 7px 7px 6px rgba(0, 0, 0, 0.05), 7px 7px 1px rgba(0, 0, 0, 0.5), 0px 0px 6px rgba(0, 0, 0, .2);
}

.img-logo {
  margin: 0 auto;
  height: 80px;
}

.header-row {
  padding-top: 10px;
}

.footer {
  height: 149px;
  padding: 0 15px;
  background: #1A8DCE;
  background: -moz-linear-gradient(top, #B2D8ED 0%, #1A8DCE 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #B2D8ED), color-stop(100%, #1A8DCE));
  background: -webkit-linear-gradient(top, #B2D8ED 0%, #1A8DCE 100%);
  background: -o-linear-gradient(top, #B2D8ED 0%, #1A8DCE 100%);
  background: -ms-linear-gradient(top, #B2D8ED 0%, #1A8DCE 100%);
  background: linear-gradient(to bottom, #B2D8ED 0%, #1A8DCE 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#B2D8ED', endColorstr='#1A8DCE', GradientType=0);
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  position: relative;
  overflow: hidden;
  width: 100%;
  .footer-spec {
    height: 149px;
    background: url("../../img/bg_foot.png") left top no-repeat;
  }
  .foot-block {
    padding-top: 20px;
  }
}

.wrapp-time {
  margin-top: 10px;
}

.wrapper-contacts {
  div {
    margin-top: 5px;
  }
  a {
    display: block;
    text-decoration: none;
  }
}

.quest-tbl {
  display: table;
  .quest-td {
    &.td-quest-i {
      padding-right: 10px;
    }
    display: table-cell;
    vertical-align: top;
    a {
      text-decoration: underline;
      &:hover {
        text-decoration: none;
      }
    }
    i {
      color: #147fc1;
      font-size: 32px;
    }
  }
}

.content-page {
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 6px;
  padding: 15px 15px 10px;
}

.left-nav {
  background: #0E87CB url("../../img/bg_menu.png") repeat-x left top;
  padding: 15px 0 33px;
  position: relative;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  ul {
    margin: 0;
    li {
      line-height: 16px;
      display: block;
      list-style: none;
      padding: 0;
      &.tree-nav {
        &.active {
          .inner-nav {
            height: 40px;
          }
        }
        .inner-nav {
          height: 0;
          overflow: hidden;
          transition: .3s;
        }
      }
      a {
        font: 14px 'arial', sans-serif;
        text-decoration: none;
        display: block;
        padding: 8px 10px 8px 20px;
        line-height: 16px;
        color: #fff;
        border-bottom: 1px solid #0A689C;
        border-top: 1px solid #3E9FD6;
      }
      &.hvr-sweep-to-right {
        &:before {
          background: #3E9CDC;
          background: -moz-linear-gradient(top, #6CCBF9 0%, #3E9CDC 100%);
          background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #6CCBF9), color-stop(100%, #3E9CDC));
          background: -webkit-linear-gradient(top, #6CCBF9 0%, #3E9CDC 100%);
          background: -o-linear-gradient(top, #6CCBF9 0%, #3E9CDC 100%);
          background: -ms-linear-gradient(top, #6CCBF9 0%, #3E9CDC 100%);
          background: linear-gradient(to bottom, #6CCBF9 0%, #3E9CDC 100%);
        }
      }
      &.active {
        > a {
          font-weight: bold;
          background: #3E9CDC;
          background: -moz-linear-gradient(top, #6CCBF9 0%, #3E9CDC 100%);
          background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #6CCBF9), color-stop(100%, #3E9CDC));
          background: -webkit-linear-gradient(top, #6CCBF9 0%, #3E9CDC 100%);
          background: -o-linear-gradient(top, #6CCBF9 0%, #3E9CDC 100%);
          background: -ms-linear-gradient(top, #6CCBF9 0%, #3E9CDC 100%);
          background: linear-gradient(to bottom, #6CCBF9 0%, #3E9CDC 100%);
        }
      }
      .inner-nav {
        li {
          a {
            padding-left: 30px;
            font-size: 13px;
          }
        }
      }
    }
  }
}

.cabinet-wrapper {
  background: #0E87CB url("../../img/bg_menu.png") repeat-x right top;
  margin: 10px 0;
  color: #fff;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  padding: 10px 15px 10px 10px;
  .wrapp-cabinet-title {
    overflow: hidden;
    border-radius: 4px;
    width: 200px;
    margin-left: -20px;
    margin-bottom: 10px;
    .title-cabine {
      -webkit-transform-origin: 0 100%;
      -ms-transform-origin: 0 100%;
      transform-origin: 0 100%; /* левый нижний угол */
      -webkit-transform: skewX(20deg);
      -ms-transform: skewX(20deg);
      transform: skewX(20deg);
      background-color: #64b5ed;
      border-radius: 4px;
      padding: 5px 30px;
      width: 100%;
      a {
        color: #fff;
        display: block;
        -webkit-transform: skewX(-20deg);
        -ms-transform: skewX(-20deg);
        transform: skewX(-20deg);
        i {
          font-size: 18px;
          margin-right: 5px;
        }
      }
    }
  }
}

.pass-tbl {
  display: table;
  .pass-td {
    display: table-cell;
    vertical-align: middle;
    a {
      color: #fff;
      text-decoration: underline;
      font-size: 12px;
      &:hover {
        text-decoration: none;
      }
    }
  }
}

.footer-wrapper {
  margin-bottom: 1px;
}

.btn-danger {
  background-color: #890c17 !important;
  border-color: #890c17;
}

.search-form {
  .title-search {
    background-color: #4c8fbd;
    display: inline-block;
    border-radius: 6px 6px 0 0;
    color: #fff;
    padding: 5px 15px;
    font-size: 15px;
  }
  form {
    background-color: #4c8fbd;
    padding: 15px;
    display: table;
    width: 100%;
    .btn-danger {
      margin-top: -3px;
      padding: 3px 12px;
    }
    .form-group {
      display: table-cell;
      &:first-child {
        width: 90%;
      }
    }
  }
}

.slider-block {
  margin-top: 20px;
}

.content-wrapp {
  padding-left: 20px;
}

.cats-car {
  margin-top: 20px;
  .car-cats-list {
    margin-left: 0;
    list-style-type: none;
    li {
      display: inline-block;
      margin: 5px 10px;
      img {
        width: 70px;
        opacity: .5;
        transition: .3s;
      }
      &:hover {
        img {
          opacity: 1;
        }
      }
    }
  }
}

.welcome-block {
  margin: 40px 0;
  p {
    font-size: 13px;
  }
}

.news-block {
  margin-top: 10px;
  .time-add {
    i {
      color: #b3b3b3;
    }
    span {
      font-size: 10px;
    }
  }
  p {
    font-size: 13px;
  }
  .title-news {
    font-family: RobotoBold;
    font-size: 15px;
    text-decoration: underline;
    &:hover {
      text-decoration: none;
    }
  }
}

.gritter-title {
  font-family: Roboto;
  font-size: 16px;
}

.gritter-item {
  p {
    font-family: Roboto;
    font-size: 14px;
  }
}

.front-login-form {
  .help-block {
    color: #fff;
  }
}

.wrapper-auth-user {
  a {
    color: #fff;
  }
}

.cat-thumb img {
  height: 100px;
  display: inline-block;
  vertical-align: middle;
  max-width: 100%;
}

.cat-wrapper {
  padding: 20px;
  border: 1px solid #e6e6e6;
  transition: all 0.3s ease;
  box-shadow: none;
}

.cat-wrapper:hover {
  transition: all 0.3s ease;
  box-shadow: inset 0 4px 15px rgba(77, 77, 77, 0.35);
}

.cat-wrapper a {
  text-decoration: none;
  word-break: break-all;
}

.cat-wrapper a:hover {
  text-decoration: none;
  color: #ff5152;
}

.name-cat {
  transition: all 0.3s ease;
  color: #5a5f63;
  font-family: Roboto;
  height: 42px;
  overflow: hidden;

}

.cat-wrapper a:hover .name-cat {
  transition: all 0.3s ease;
  color: #ff5152;
}

.breadcrumb {
  margin-left: 0;
  padding: 8px 15px;
  margin-bottom: 20px;
  list-style: none;
  background-color: #f5f5f5;
  border-radius: 4px;
  display: block;
  margin-right: 0;
}

.wrapper-img {
  border: 1px solid #ddd;
}

.descr-wrapp {
  border: 1px solid #ddd;
  padding: 15px;
}

.wrapper-img {
  img {
    max-width: 100%;
  }
}

.product-info {
  h1 {
    margin-top: 0;
  }
  tr {
    td {
      font-size: 14px;
      vertical-align: middle !important;
      &:first-child {
        font-family: RobotoBold;
      }
    }
  }
  .product-price {
    font-size: 17px;
  }
}

#cart {
  cursor: pointer;
}

.cart-tbl {
  position: relative;
  cursor: pointer;
  .cart-description.cart-td {
    a {
      cursor: pointer;
    }
  }
  .cart_product_list {
    color: #000;
    position: absolute;
    top: -100%;
    opacity: 0;
    width: 100%;
    left: 0;
    z-index: -1;
    transition: .3s;
    cursor: auto;
    box-shadow: 1px 1px 10px #999;
    a {
      color: #000;
      &:hover {
        text-decoration: underline;
      }
    }
    .table.table-striped {
      margin-bottom: 0;
      tr:nth-child(odd) {
        background-color: #fff;
      }
      tr:nth-child(even) {
        background-color: #f9f9f9;
      }

    }
    i.fa-close {
      cursor: pointer;
      transition: .3s;
      padding: 2px;
      &:hover {
        background-color: rgba(0, 0, 0, 0.3);
        border-radius: 4px;
        padding: 2px;
        color: #fff;
      }
    }
    &.active {
      opacity: 1;
      top: 100%;
      z-index: 999;
    }
  }
}

.cart-wrapper {
  td {
    font-size: 15px;
    vertical-align: middle !important;
  }
  .thumb-in-cart {
    img {
      height: 50px;
    }
  }
}

.help-block {
  small {
    color: #cd281e;
  }
}

.banner-wrapper {
  img {
    margin: 0 auto;
    width: 70%;
    padding: 10px;
  }
}

.categories-list {
  > li {
    vertical-align: top;
    list-style-type: none;
    margin: 0 10px;
    border-right: 1px solid #ddd;
    margin-top: 5px;
    box-shadow: 1px 1px 3px #000;
    padding: 5px;
    width: 50%;
    &:last-child {
      border-right: none;
    }
  }
}

.ui-datepicker {
  z-index: 2000;
}

.datepicker-orient-bottom {
  .datepicker-days {
    display: block;
  }
}

.input-group-addon {
  &:hover {
    cursor: pointer;
  }
}

.content-wrapp {
  h3 {
    margin-top: 0;
  }
}

.new-question {
  margin-top: 30px;
}

.wrapper-dialog {
  .alert {
    display: inline-block;
    border-radius: 4px;
    box-shadow: 1px 1px 3px #eee;
    .header-quest {
      border-bottom: 1px solid #31708f;
    }
  }
  .user-manager {
    text-align: right;
  }
}

.search-analog {
  display: table-row;
  .checkbox {
    display: table-cell;
    label {
      padding-left: 10px;
      color: #fff;
    }
  }
}

.avtoto-tbl {
  td {
    &:first-child {
      width: 50%;
    }
    &:nth-child(6) {
      width: 7%;
    }
  }
}

td.product-info {
  width: 20% !important;
  .ace-spinner {
    width: 97px !important;
  }
}

.cart-wrapper {
  td {
    &:not(:first-child) {
      text-align: center;
    }
  }
}

.has-error {
  label {
    color: #cd281e;
  }
  input {
    border-color: #cd281e;
  }
}

.armtek-tbl {
  td {
    &:first-child {
      width: 40%;
    }
    &:nth-child(6) {
      width: 18% !important;
      text-align: right;
    }
  }
}

.price-td {
  min-width: 100px;
}

.tab-pane {
  .form-group {
    position: relative;
    .needle-search {

      top: 100%;
      left: 0;
      width: 100%;
      background: #fff;
      z-index: 200;
      display: none;
      &:hover {
        cursor: pointer;
      }
      &.active {
        display: table;
      }
    }
  }
}

.wrapper-needle-search {
  width: 100%;
  max-height: 212px;
  overflow: scroll;
  overflow-x: hidden;
  position: absolute;
  background: #fff;
  top: 100%;
  left: 0;
  z-index: 200;
}

.error-container {
  margin: 20px 0;
}

.wrapper-social {
  hr {
    margin: 0;
  }
  .social-login {
    font-size: 24px;
  }
}

.main-categories-list {
  margin-left: 0;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 20px;
  li {
    display: inline-block;
    padding: 0 5px;
    border-bottom: 1px solid #000;
    margin-bottom: 5px;
    position: relative;
    a {
      text-decoration: none;
    }
    > ul {
      display: none;
      z-index: 2;
      li {
        border-bottom: none;
        display: block;
      }
    }
    &:hover > ul {
      display: block;
      position: absolute;
      top: 100%;
      left: 0;
      background: #fff;
      margin: 0;
      box-shadow: 1px 1px 3px;
      white-space: nowrap;
      border-bottom: none;
    }
  }
}

.cat-title {
  margin-top: 0;
  font-size: 28px;
}

.wrapp-speci {
  .wrapp-thumb-spec {
    img {
      max-width: 100%;
    }
  }
  a {
    text-decoration: none;
    color: #393939;
    font-size: 15px;
  }
  .price {
    background: #e70a1c;
    color: #fff;
  }
}

.free-montage {
  color: #e70a1c;
}

.btn.btn-navbar {
  display: none;
  background-color: #9c141c !important;
  border-color: #c04f53;
  &:hover, &:active, &:visited {
    background-color: #9c141c !important;
    border-color: #c04f53;
  }
}

@media screen and (max-width: 767px) {
  .nav-top li {
    float: none;
  }
  .cart {
    float: left;
  }
  .btn.btn-navbar {
    display: block;
  }
  .footer {
    padding-top: 0 !important;
  }
}

@media screen and (max-width: 1199px) {
  .navbar-collapse.in {
    overflow: visible;
  }
  //.cart-description.cart-td {
  //  & > a {
  //    display: none;
  //  }
  //}
}

.container {
  //min-width: 100% !important;
  //width: 100%;
  //max-width: 960px !important;
  min-width: auto !important;
}

.page-wrapper {
  overflow: hidden;
}

.carousel-inner {
  height: 300px;
  .item {
    height: 100%;
    width: 100%;
    img {
      height: 100%;
      margin: 0 auto;
    }
    &.active {
      display: flex;
      align-content: center;
      justify-content: center;
    }
  }
}

.sidebar {
  &__categories {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  &__item {
    font-size: 14px;
    margin: 5px 0;
    transition: .3s;
    position: relative;
    &.has-childs {
      &:before {
        content: '>';
        position: absolute;
        left: -10px;
        top: 5px
      }
    }
    a {
      color: #0e87cb;
      text-decoration: none;
      padding: 5px;
      background: #f2f2f2;
      display: block;
      &:hover {
        background: #cac8c8;
      }
    }
    > ul {
      display: none;
      list-style-type: none;
      margin: 0;
      background: #eae9e9;
      li {
        a {
          padding-left: 15px;
          background: transparent;
        }
      }
    }
    &.active {
      > ul {
        display: block;
      }
    }
  }
}
