@font-face {
  font-family: 'Roboto';
  src:  url("../fonts/RobotoRegular/RobotoRegular.ttf") format('truetype'),
  url("../fonts/RobotoRegular/RobotoRegular.eot"),
  url("../fonts/RobotoRegular/RobotoRegular.woff") format('woff');
}
@font-face {
  font-family: 'RobotoLight';
  src:  url("../fonts/RobotoLight/RobotoLight.ttf") format('truetype'),
  url("../fonts/RobotoLight/RobotoLight.eot"),
  url("../fonts/RobotoLight/RobotoLight.woff") format('woff');
}
@font-face {
  font-family: 'RobotoBold';
  src:  url("../fonts/RobotoBold/RobotoBold.ttf") format('truetype'),
  url("../fonts/RobotoBold/RobotoBold.eot"),
  url("../fonts/RobotoBold/RobotoBold.woff") format('woff');
}
@font-face {
  font-family: 'RobotoMedium';
  src:  url("../fonts/RobotoMedium/RobotoMedium.ttf") format('truetype'),
  url("../fonts/RobotoMedium/RobotoMedium.eot"),
  url("../fonts/RobotoMedium/RobotoMedium.woff") format('woff');
}

@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/custom/icomoon.eot?unibbz');
  src:  url('../fonts/custom/icomoon.eot?unibbz#iefix') format('embedded-opentype'),
  url('../fonts/custom/icomoon.ttf?unibbz') format('truetype'),
  url('../fonts/custom/icomoon.woff?unibbz') format('woff'),
  url('../fonts/custom/icomoon.svg?unibbz#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-logo:before {
  content: "\e900";
}
