@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 300;
    src: local('Open Sans Light'), local('OpenSans-Light'), url(https://themes.googleusercontent.com/static/fonts/opensans/v8/DXI1ORHCpsQm3Vp6mXoaTYraN7vELC11_xip9Rz-hMs.woff) format('woff');
}
@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    src: local('Open Sans'), local('OpenSans'), url(https://themes.googleusercontent.com/static/fonts/opensans/v8/RjgO7rYTmqiVp7vzi-Q5UT8E0i7KZn-EPnyo3HZu7kw.woff) format('woff');
}
/*@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    src: local('Open Sans Bold'), local('OpenSans-Bold'), url(http://themes.googleusercontent.com/static/fonts/opensans/v8/k3k702ZOKiLJc3WVjuplzIraN7vELC11_xip9Rz-hMs.woff) format('woff');
}*/

@media print {
    #gritter-notice-wrapper {
        display: none;
    }
}



body {
    font-family: 'Open Sans';
    min-width: 240px;
}

body.no-skin {
    background-color: #fff;
}

body .container.as-background {
    position: absolute;
    top: 0;
    bottom: 0;
    background-color: #fff;
    left: 50%;
    z-index: -1;
}

body.loading {
    overflow: hidden;
    position: relative;
}

body.loading:after {
    display: block;
    position: fixed;
    left: 0;
    right: 0;
    width: 100%;
    top: 0;
    bottom: 0;
    background: #fff url("../img/page_preload.gif") 50% 50% no-repeat;
    opacity: 0.7;
    z-index: 99999;
    content: "";
}

body .container.main-container::before {
    top: 0;
    border-top: 0;
}

body .navbar.navbar-fixed-top ~ .container.main-container::before {
    top: 45px;
    border-top: 15px solid #e4e4e4;
}

textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"] {
    color: #444 !important;
}

body .navbar {
    min-height: 45px;
}

body .navbar .ace-nav > li {
    height: 45px;
    line-height: 45px;
}

body .ace-nav > li > a {
    background-color: transparent;
}

body .ace-nav > li > a > .badge {
    left: 0;
}

body .ace-nav > li.balance-button > a {
    padding-left: 10px;
    padding-right: 12px;
}

body .navbar-form .form-group {
    width: auto;
}

body .main-wrap {
    margin-top: 30px;
    vertical-align: middle;
}

body .main-wrap > div {
    display: inline-block;
    vertical-align: middle;
    float: none;
}

body .page-header h1 {
    font-size: 2em;
}

.editable-click {
    border-bottom: 1px dashed #bbb;
}

.badge-warning {
    background-color: #F0AD4E;
}

.cursor-default {
    cursor: default;
}

.thumbnail.inline {
    margin-bottom: 0;
    display: inline-block;
    max-width: 100%;
}

body .navbar > .container .navbar-brand {
    padding: 5px 25px;
    outline: none;
    margin-left: 0;
}

body .navbar .navbar-header.logo {
    border-color: rgba(0, 0, 0, 0.2);
    border-width: 0;
    border-style: solid;
    float: left !important;
}

body .navbar .authorize-button > a {
    /*padding: 0 20px;*/
}

body .navbar .ace-nav li.business-button {
    border: 1px solid rgba(0,0,0,0.2);
    border-width: 0 0 0 1px;
}

body .navbar .ace-nav li.business-button a {
    padding: 0 15px;
}

body .navbar .ace-nav li.business-button a:hover {
    background-color: rgba(0,0,0,0.1) !important;
}

body .user-min .user-info {
    margin-top: 50px !important;
    position: absolute;
}

body .user-min .nav-user-photo {
    margin-right: 0;
}

body .user-min.open .user-info {
    display: inline-block !important;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

body .user-min .user-menu {
    padding-top: 42px !important;
}

body .user-menu > li > a > .ace-icon {
    font-size: 120%;
    margin-right: 6px;
    width: 15px;
    text-align: center;
    vertical-align: middle;
}

.navbar-form.form-code-activate {
    margin-bottom: 0;
    margin-top: 9px;
}

.navbar-form.form-code-activate input {
    width: 200px;
}

body .navbar .navbar-nav > li.balance-button > a {
    font-size: 1em;
    padding-top: 9px;
    padding-bottom: 9px;
    line-height: 25px;
}

body .navbar .balance-button .fa {
    font-size: 1em;
    vertical-align: middle;
}

body .navbar .balance-button .badge {
    top: -1px;
}

body .navbar .balance-button .label {
    font-size: 1.2em;
    vertical-align: middle;
}

body .navbar .navbar-collapse {
    padding: 0;
}

body .navbar .authorize-button > a > .fa {
    /*font-size: 1.8em;*/
    vertical-align: middle;
}

body .navbar-fixed-top+.main-container {
    padding-top: 60px;
}

.main-container.prl {
    position: relative;
}

.cell-container {
    margin: 80px 0;
}
.cell-container .cell {
    background: none repeat scroll 0 0 #F5F5F5;
    padding: 10px 10px 10px 0;
    width: 80%;
    overflow: auto;
    display: inline-block;
}
.cell-container .cell span {
    background: url("../img/public/sprite1.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    display: block;
    float: left;
    width: 75px;
}
.cell-container .cell span.one {
    background-position: center 0;
    height: 47px;
    margin-top: 4px;
}
.cell-container .cell span.two {
    background-position: center -52px;
    height: 45px;
    margin-top: 7px;
}
.cell-container .cell span.free {
    background-position: center bottom;
    height: 45px;
    margin-top: 7px;
}
.cell-container .cell .text {
    border-left: 1px solid #DCDCDC;
    float: left;
    padding: 0 0 0 13px;
    text-align: left;
}

.cell-container .cell .text p.price {
    color: #68B2D8;
    font-size: 1.8em;
    font-weight: bold;
    padding: 0;
}

.cell-container .cell .text p {
    color: #909090;
    font-size: 1.2em;
    margin-bottom: 0;
}

body .login-container {
    margin-top: 70px;
}

body .light-login {
    background: transparent;
}

.container.main-offers {
    padding: 0;
}

.container.main-offers .offers {
    /*padding-left: 10px;
    padding-right: 10px;*/
    margin-left: -5px;
}

.offers .offer {
    padding-left: 0;
    padding-right: 5px;
}

@media (min-width: 768px) {
    body .navbar > .container .navbar-buttons {
        margin-right: 15px;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .navbar .navbar-toggle {
        display: block;
    }
}

@media (max-width: 991px) {
    body .main-container .sidebar.h-sidebar .sidebar-shortcuts {
        display: none;
    }

    body .main-container .sidebar.h-sidebar {
        width: 200px;
    }
}

@media only screen and (min-width: 992px) {

    body .sidebar.h-sidebar {
        width: auto;
        float: none;
    }

    .navbar.h-navbar {
        -webkit-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.25);
        box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.25);
    }
    .sidebar.h-sidebar {
        position: relative;
        float: none !important;
        /*width: auto !important;*/

        margin-top: 17px;
        border-width: 0 !important;
        box-shadow: none;
    }
    .sidebar.h-sidebar.sidebar-fixed {
        position: fixed;
    }
    .sidebar.h-sidebar:before {
        display: block;
        position: absolute;
        z-index: -1;
        left: 0 !important;
        right: 0 !important;
        top: -17px;
        bottom: auto;
        height: 17px;
        width: auto;
        border-width: 0;
        border-bottom: 1px solid;
        border-bottom-color: inherit;
    }
    .sidebar.h-sidebar.hide-before .nav-list > li:before {
        top: 0;
    }
    .sidebar.h-sidebar .nav-list {
        border-width: 0;
        border-bottom: 2px solid #79b0ce;
    }
    .sidebar.h-sidebar .nav-list > li {
        float: left;
        border-width: 0 1px;
        margin-left: -1px;
    }
    .sidebar.h-sidebar .nav-list > li:before {
        left: -1px;
        right: -1px;
        bottom: auto;
        top: -2px;
        max-width: none;
        width: auto;
        height: 2px;
        border-width: 0;
    }
    .sidebar.h-sidebar .nav-list > li.active:before {
        display: block;
    }
    .sidebar.h-sidebar .nav-list > li.active:after {
        display: none;
    }
    .sidebar.h-sidebar .nav-list > li:hover {
        z-index: 1026;
    }
    .sidebar.h-sidebar .nav-list > li.active {
        z-index: 1027;
    }
    .sidebar.h-sidebar .nav-list > li:first-child {
        border-left-width: 0;
        margin-left: 0;
    }
    .sidebar.h-sidebar .sidebar-shortcuts + .nav-list > li:first-child {
        border-left-width: 1px;
        margin-left: -1px;
    }
    .sidebar.h-sidebar .nav-list > li > a {
        line-height: 22px !important;
        height: auto !important;
        padding: 10px 13px !important;
    }
    .sidebar.h-sidebar .nav-list > li > a > .menu-icon {
        display: block !important;
        margin: 1px 0 4px;
        line-height: inherit;
        width: auto;
    }
    .sidebar.h-sidebar .nav-list > li > a > .arrow {
        display: none;
    }
    .sidebar.h-sidebar .nav-list > li.hover.pull_right {
        float: none !important;
    }
    .sidebar.h-sidebar .nav-list > li.hover > .submenu {
        top: 100%;
        left: 1px;
        margin-top: auto;
        margin-left: -2px;
        width: 190px;
        z-index: 1026;
    }
    .sidebar.h-sidebar .nav-list > li.hover.pull_right > .submenu {
        left: auto;
        right: 1px;
    }
    .sidebar.h-sidebar .nav-list > li.hover > .arrow {
        right: auto;
        top: auto;
        left: 24px;
        bottom: 7px;
    }
    .sidebar.h-sidebar .nav-list > li.hover.pull_right > .arrow {
        left: auto;
        right: 24px;
    }
    .sidebar.h-sidebar .nav-list > li.hover > .arrow:before,
    .sidebar.h-sidebar .nav-list > li.hover > .arrow:after {
        border-width: 0 8px 8px !important;
    }
    .sidebar.h-sidebar .nav-list > li.hover > .arrow:after {
        border-color: transparent;
        border-left-color: transparent !important;
        border-right-color: transparent !important;
        -moz-border-right-colors: none !important;
        -moz-border-left-colors: none !important;
        -moz-border-top-colors: none;
        -moz-border-bottom-colors: none;
        left: -10px !important;
        right: auto !important;
    }
    .sidebar.h-sidebar .nav-list > li.hover > .arrow:before {
        border-color: transparent;
        border-left-color: transparent !important;
        border-right-color: transparent !important;
        -moz-border-right-colors: none !important;
        -moz-border-left-colors: none !important;
        -moz-border-top-colors: none;
        -moz-border-bottom-colors: none;
        right: auto !important;
        left: -10px !important;
        top: -1px !important;
    }
    .sidebar.h-sidebar .nav-list > li.hover:hover > a ~ .arrow {
        display: none;
    }
    .sidebar.h-sidebar .nav-list > li.hover:hover > a.dropdown-toggle ~ .arrow {
        display: block;
    }
    .sidebar.h-sidebar .sidebar-shortcuts-large:before,
    .sidebar.h-sidebar .sidebar-shortcuts-large:after {
        display: block;
        content: "";
        position: absolute;
        left: 50%;
        margin-left: -8px;
        border: 1px solid transparent;
        border-width: 0 8px 8px;
    }
    .sidebar.h-sidebar .sidebar-shortcuts-large:after {
        border-right-color: transparent;
        -moz-border-right-colors: none;
        top: -8px;
    }
    .sidebar.h-sidebar .sidebar-shortcuts-large:before {
        -moz-border-bottom-colors: #CCC;
        border-bottom-color: #CCC;
        top: -9px;
    }
    .sidebar.h-sidebar .sidebar-toggle {
        display: none;
    }
    .sidebar.h-sidebar .sidebar-shortcuts {
        float: left;
        display: block;
        overflow: visible;
        position: relative;
        margin: 0;
        padding: 0;
        max-height: none !important;
        background-color: transparent;
    }
    .sidebar.h-sidebar .sidebar-shortcuts:hover .sidebar-shortcuts-large {
        display: block;
    }
    .sidebar.h-sidebar .sidebar-shortcuts-large {
        display: none;
        width: 52px;
        height: auto;
        position: absolute;
        z-index: 15;
        top: 100%;
        margin-top: -5px;
        left: 10px;
        padding: 3px 2px;
        border: 1px solid;
    }
    .sidebar.h-sidebar .sidebar-shortcuts-mini {
        width: auto;
        max-width: 52px;
        display: block;
        background-color: transparent;
        padding-top: 3px;
        padding-bottom: 5px;
    }
    .sidebar.h-sidebar .sidebar-shortcuts-mini > .btn {
        margin: 1px;
        padding: 9px !important;
    }
    .sidebar.h-sidebar .nav-list a .badge,
    .sidebar.h-sidebar .nav-list a .label {
        position: absolute;
        top: 11px;
        right: auto !important;
        left: 50%;
        margin-left: 10px;
    }
    .sidebar.h-sidebar + .main-content {
        margin-left: 0;
    }
    .sidebar.h-sidebar + .main-content .breadcrumbs {
        margin: 6px 9px;
        border: 1px solid;
        border-color: #E5E5E5;
    }
    .h-sidebar.sidebar-fixed {
        top: auto;
        width: 100%;
        left: 0;
        right: 0;
    }
    .h-sidebar.sidebar-fixed:before {
        z-index: auto;
    }
    .h-sidebar.sidebar-fixed,
    .h-sidebar.sidebar-fixed .nav-list {
        border-right-width: 0;
        border-left-width: 0;
    }
    .h-sidebar.sidebar-fixed .sidebar-shortcuts {
        border-width: 0;
    }
    .h-sidebar.sidebar-fixed + .main-content {
        padding-top: 88px;
    }

    .sidebar.h-sidebar {

    }
    .sidebar.h-sidebar .nav-list > li > a > .menu-text {
        background-color: transparent !important;
        border-width: 0 !important;
        -webkit-box-shadow: none !important;
        box-shadow: none !important;
        /*display: inline !important;*/
        margin: auto !important;
        padding: 0 !important;
        position: static !important;
        font-size: inherit;
        line-height: inherit;
        text-align: inherit;
        display: none;
    }
    .sidebar.h-sidebar .nav-list > li > a > .menu-icon {
        height: auto;
        font-size: 18px;
    }

    .no-skin .sidebar.h-sidebar {
        background-color: #f8f8f8;
    }
    .no-skin .sidebar.h-sidebar:before {
        background-color: #e4e4e4;
        -webkit-box-shadow: 0 -1px 1px 0 rgba(0, 0, 0, 0.05) inset;
        box-shadow: 0 -1px 1px 0 rgba(0, 0, 0, 0.05) inset;
    }
    .no-skin .sidebar.h-sidebar .nav-list > li:hover {
        border-color: #cedde5;
    }
    .no-skin .sidebar.h-sidebar .nav-list > li.active {
        border-color: #79b0ce;
    }
    .no-skin .sidebar.h-sidebar .nav-list > li.active:before {
        background-color: #2b7dbc;
    }
    .no-skin .sidebar.h-sidebar .nav-list > li.active > a:after {
        border-width: 0 0 3px 0;
        border-color: transparent;
        border-bottom-color: #FFF;
        left: 0;
        right: 0;
        top: auto;
        bottom: -3px;
    }
    .no-skin .sidebar.h-sidebar .sidebar-shortcuts-large {
        background-color: #FFF;
        border-color: #CCC;
        -webkit-box-shadow: 2px 1px 2px 0 rgba(0,0,0,0.1);
        box-shadow: 2px 1px 2px 0 rgba(0,0,0,0.1);
    }
    .no-skin .sidebar.h-sidebar .sidebar-shortcuts-large:after {
        border-bottom-color: #FFF;
        -moz-border-bottom-colors: #FFF;
    }
    .no-skin .sidebar.h-sidebar .nav-list > li.hover > .submenu {
        border-color: #cccccc;
    }
    .no-skin .sidebar.h-sidebar .nav-list > li.hover > .arrow:after {
        border-color: transparent;
        -moz-border-right-colors: none;
        -moz-border-top-colors: none;
        -moz-border-left-colors: none;
        border-bottom-color: #FFF;
        -moz-border-bottom-colors: #FFF;
    }
    .no-skin .sidebar.h-sidebar .nav-list > li.hover > .arrow:before {
        border-color: transparent;
        -moz-border-right-colors: none;
        -moz-border-top-colors: none;
        -moz-border-left-colors: none;
        -moz-border-bottom-colors: #B8B8B8;
        border-bottom-color: #B8B8B8;
    }
}

@media only screen and (min-width: 1200px) {
    .sidebar.h-sidebar .nav-list > li > a > .menu-text {
        display: inline-block;
    }

    .sidebar.h-sidebar .sidebar-shortcuts {
        padding: 12px 8px 9px;
    }

    body .container.company.manager {
        max-width: 992px;
    }


    body .container.offer-page {
        max-width: 717px;
    }
}

@media only screen and (max-width: 1200px) {

    body .container.offer-page {
        max-width: 717px;
    }
}


@media  (max-width: 992px) {
    .navbar > .container .navbar-toggle+.navbar-header > .navbar-brand {
        margin-left: 0;
    }

    .main-container.container .sidebar.responsive {
        margin-top: -15px;
    }
}

@media  (min-width: 992px) {
    .main-container .content {
        margin-left: 200px;
    }

    body .container.main-container .footer > .footer-inner {
        margin-left: 195px;
    }

    .main-container .content {
        margin-left: 200px;
    }

    .navbar-toggle {
        display: none;
    }
}


@media (min-width: 992px) {
    .container.main-container .sidebar.h-sidebar ~ .footer .footer-inner,
    .container.main-container .container.full-content ~ .footer .footer-inner {
        margin-left: 0;
        width: 964px;
    }

    body .container.as-background {
        margin-left: -482px;
    }
}
@media (min-width: 1200px) {
    .container.main-container .sidebar.h-sidebar ~ .footer .footer-inner,
    .container.main-container .container.full-content ~ .footer .footer-inner {
        margin-left: 0;
        width: 1164px;
    }

    body .container.as-background {
        margin-left: -582px;
    }
}
@media (min-width: 768px) and (max-width: 991px) {
    .container.main-container .sidebar.responsive-min ~ .footer .footer-inner,
    .container.main-container .container.full-content ~ .footer .footer-inner {
        margin-left: 0;
        width: 744px;
    }

    body .container.as-background {
        margin-left: -372px;
    }
}

.offers .offer > .panel {
    max-width: 312px;
    border-radius: 0;
    margin-bottom: 0;
}

.offers .offer .panel:hover {
    box-shadow: 0 0 4px 2px rgba(0,0,0,0.15);
    cursor: pointer;
}

.offers .offer .actions {
    margin-bottom: 20px;
}

.offers .offer .panel-body {
    padding: 5px;
}

.offers .offer .panel-body.for-image {
    /*height: 204px;*/
}

.offers .offer .panel-body .stat-info {
    padding: 0 5px;
}

.offers .offer .panel-footer {
    padding: 0;
}

.offers .offer .panel-footer .btn {
    /*padding: 2px 10px;*/
}

.offers .offer .panel-footer .btn .fa {
    vertical-align: middle;
}

.offers .offer .price {
    font-size: 1.75em;
    /*line-height: 1.85em;
    height: 1.85em;*/
    text-align: center;
    color: #555;
}

.offers .offer .caption {
    padding: 0 5px;
}

.offers .offer .caption > h3 {
    margin-top: 5px;
    height: 50px;
    overflow: hidden;
}

.offers .offer .caption > h4 {
    margin-top: 5px;
    margin-bottom: 0;
    overflow: hidden;
}

.offers .offer .caption > p {
    font-size: 1.15em;
    height: 45px;
    overflow: hidden;
}

.offers .offer .author-info a {
    overflow: auto;
    display: block;
}

.offers .offer .author-info a:hover {
    text-decoration: none;
}

.offers .offer .author-info .avatar {
    border: 2px solid #eee;
    border-radius: 100%;
    max-width: 54px;
    min-width: 54px;
}

.offers .offer .author-info .title {
    padding-left: 10px;
    margin-top: -5px;
    display: table-cell;
    overflow: hidden;
    height: 57px;
    vertical-align: middle;
}

.offers .offer .panel-footer .status {
    height: 34px;
    vertical-align: middle;
    line-height: 34px;
}

.offers .offer .panel-footer .status .label {
    vertical-align: text-bottom;
}

.offers .offer .panel-footer .action-menu a:hover .fa {
    color: #333 !important;
}

.offers .offer .panel-body .thumbnail {
    border-radius: 0;
    padding: 3px;
}

.offer-category .checkbox {
    padding-left: 0;
}

.offer-category {
    margin-right: -15px;
}

.offer-category > .panel-body {
    padding: 0;
}

.offer-category > .panel-body ul {
    margin-top: 10px;
}

.offer-category > .panel-body ul > li {
    margin: 0 15px;
    position: relative;
}

.offer-category > .panel-body ul > li > a {
    padding: 5px 0;
    display: block;
    outline: none;
    text-decoration: none;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.offer-category > .panel-body ul > li > a > span {
    border-bottom: 1px dashed;
    display: inline-block;
}

.offer-category > .panel-body ul > li input {
    display: none;
}

.offer-category > .panel-body ul > li.active {
    margin-left: 0;
    margin-right: 0;
    padding-left: 15px;
    padding-right: 15px;
    background-color: #4f99c6;
}

.offer-category > .panel-body ul > li.active:before {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: rgba(0, 0, 0, 0) #4f99c6 rgba(0, 0, 0, 0) rgba(0, 0, 0, 0);
    border-image: none;
    border-style: solid;
    border-width: 16px 5px 15px 0;
    content: "";
    left: -5px;
    position: absolute;
    top: 0;
    z-index: 2;
}

.offer-category > .panel-body ul > li.active > a {
    color: #fff;
    text-decoration: none;
}

.offer-category > .panel-body ul > li.active > a > span {
    border-color: transparent;
}

.offer-category > .panel-body ul > li > a > small {
    margin-left: 5px;
    color: #393939;
}

.offer-category > .panel-body ul > li.active > a > small {
    color: #fff;
}

.profile .sidebar {
    float: left;
    padding-left: 0;
    padding-right: 0;
    position: static;
    width: 200px;
}

.profile .sidebar:before {
    top: 60px;
}

.profile .content {
    min-height: 100%;
    padding: 0;
}

.main-container.container:before {
    top: 45px;
    border-top: 15px solid #e4e4e4;
}

.main-container .container-d-line {
    height: 1px;
    background-color: #E4E4E4;
    box-shadow: 0 -1px 1px 0 rgba(0, 0, 0, 0.05) inset;
}

body .sidebar.h-sidebar:before {
    display: none;
}

body .sidebar.h-sidebar {
    margin-top: 0;
}

.sidebar .nav-list > li > a > .menu-icon {
    vertical-align: middle;
}

.sidebar .nav-list > li > a {
    font-size: 1em;
}

body .sidebar .nav-list > li.active > a {
    font-weight: normal;
    /*font-size: 1.25em;*/
}

.company.profile .profile-info-name, .user.profile .profile-info-name {
    width: 150px;
}

.company.profile .profile-user-info, .user.profile .profile-user-info {
    /*display: block;*/
    width: 100%;
}

.hour.form-control, .minute.form-control {
    height: 30px;
}

body .profile-info-value > span + span:before {
    display: none;
}

.profile-logotype.editable {
    border-bottom: 1px solid #ccc;
    width: 210px;
    min-width: 210px;
    min-height: 200px;
}

.editable-image .upload-link.fileinput-button:hover {
    opacity: 0.7;
}

.editable-image .upload-link.fileinput-button .ace-file-container:before {
    /*font-size: 12em;*/
    font-weight: normal;
    font-size: 1.5em;
    line-height: 1.15em;
}

.profile .logotype-block .editable-container {
    display: block;
    width: 100%;
}

.profile .logotype-block .editable-container .editable-image {
    display: block;
    width: 100%;
}

.profile .logotype-block .editableform .control-group {
    display: inline-block;
}

.profile .logotype-block .editable-container .editable-input .editable-image {
    /*overflow: hidden;*/
}

.profile .logotype-block .editable-container .editable-input .editable-image .remove {
    display: block;
}

.profile .logotype-block .editable-container .editable-buttons {
    margin-left: 0;
}
.profile .logotype-block .editable-container .form-horizontal .profile-logotype img.editable {
    padding: 0;
}


#modalOfferDialog .modal-dialog {
    width: 830px;
}

#modalOfferDialog .tags {
    width: 100%;
}

#modalOfferDialog .cover .thumbnail, .registration-wizard .cover .thumbnail {
    margin-bottom: 5px;
}

#modalOfferDialog .cover .thumbnail a, .registration-wizard .cover .thumbnail a {
    display: block;
    color: #666;
}

#modalOfferDialog .cover .thumbnail a:hover, .registration-wizard .cover .thumbnail a:hover {
    opacity: 0.7;
}

#modalOfferDialog .cover .thumbnail .fa {
    /*font-size: 15.75em;
    line-height: 0.925em;*/
}

#modalOfferDialog .cover .ace-file-container:before {
    font-size: 1.85em;
    line-height: 1.1em;
    font-weight: normal;
}

.registration-wizard .cover .ace-file-container:before {
    font-size: 1.65em;
    line-height: 1em;
}

#modalOfferDialog .cover .ace-file-container .ace-file-name .ace-icon {
    font-size: 74px;
    line-height: 74px;
}

.registration-wizard .cover .ace-file-container .ace-file-name .ace-icon {
    font-size: 74px;
    line-height: 74px;
}

#registrationForm .logotype-block .control-group.form-group {
    margin: 0 !important;
}

#modalOfferDialog .cover .upload-block a.remove, .registration-wizard .cover .upload-block a.remove {
    display: none;
}

#modalOfferDialog .cover .upload-block a.remove:hover, .registration-wizard .cover .upload-block a.remove:hover {
    border-color: #f4c0b1;
}

#modalOfferDialog .cover .upload-block.with-image a.remove, .registration-wizard .cover .upload-block.with-image a.remove {
    display: inherit;
    font-size: 1.2em;
}

#modalOfferDialog .cover .upload-block.with-image a.upload-link, .registration-wizard .cover .upload-block.with-image a.upload-link {
    display: none;
}

#modalOfferDialog .modal-footer .btn.save, #modalOfferDialog.edit .modal-footer .btn.run {
    display: none;
}

#modalOfferDialog.edit .modal-footer .btn.save {
    display: inline-block;
}

.modalCropPhoto.cover .originalImage {
    max-height: none;
    max-width: none;
}

.modalCropPhoto.cover .originalImageWrap {
    width: 322px;
}

.modalCropPhoto.cover .originalImageWrap .imageBox {
    width: 320px;
    height: 240px;
    overflow: hidden;
}

.modalCropPhoto.cover .previewImageWrap {
    width: 152px;
    margin-right: 18px;
}

.modalCropPhoto.cover .previewImageWrap .imageBox {
    width: 150px;
    height: 100px
}

.modalCropPhoto.cover.h300 .previewImageWrap .imageBox {
    width: 150px;
    height: 75px
}

#modalOfferDialog .modal-title, #modalOfferDialog .modal-footer .btn-danger, #modalOfferDialog.view .modal-footer .btn-primary {
    display: none;
}

#modalOfferDialog .modal-footer .btn-danger {
    margin-right: 20px;
}

#modalOfferDialog.create .modal-title.create, #modalOfferDialog.view .modal-title.view {
    display: block;
}

#modalOfferDialog.edit .modal-title.edit, #modalOfferDialog.edit .modal-footer .btn-danger {
    display: block;
}

#modalOfferDialog.view .modal-dialog .cover .upload-block.with-image .remove, #modalOfferDialog.view .modal-dialog .cover .upload-block input {
    display: none;
}


#modalOfferDialog .modal-footer .actions .btn {
    display: none;
}

#modalOfferDialog .modal-footer .actions.owner.new .run, #modalOfferDialog .modal-footer .actions.new .copy,
#modalOfferDialog .modal-footer .actions.ext.new .run, #modalOfferDialog .modal-footer .actions.active .copy,
#modalOfferDialog .modal-footer .actions.company.active .stop, #modalOfferDialog .modal-footer .actions.complete .copy,
#modalOfferDialog .modal-footer .actions.cancel .copy, #modalOfferDialog .modal-footer .actions.ext.new .reject,
#modalOfferDialog .modal-footer .actions.reject .copy {
    display: inherit;
}



#modalOfferDialog form .form-group.category .select2-container {
    display: block;
}

#modalOfferDialog form .select2-container {
    margin-top: -1px;
}

#modalOfferDialog form .select2-container .select2-choice {
    height: 33px;
    line-height: 31px;
}

#modalOfferDialog form .value {
    height: 32px;
    line-height: 30px;
    vertical-align: middle;
}

#modalOfferDialog form .for-description .wysiwyg-toolbar {
    margin-left: 0;
}


#modalOfferDialog form .for-description .wysiwyg-toolbar .btn-colorpicker {
    height: 18px;
}

.company.profile .dataTables_wrapper label {
    font-size: 1em !important;
}

.company.profile .dataTables_wrapper .dataTables_filter label > input {
    margin: 0 4px;
}


#modalGiftElDialog .modal-dialog, #modalGiftSmsDialog .modal-dialog {
    width: 800px;
}

#modalGiftElDialog .message-gift h2, #modalGiftSmsDialog .message-gift h2 {
    margin: 0;
}

#modalGiftElDialog .alert-warning, #modalGiftSmsDialog .alert-warning {
    color: #393939;
}

#modalGiftElDialog h3.rating, #modalGiftSmsDialog h3.rating {
    margin: 5px 0 0 0;
}

#modalGiftSmsDialog .modal-footer h4 {
    margin-top: 5px;
}

#loadMorePreLoader {
    height: 200px;
    line-height: 200px;
    font-size: 2em;
    vertical-align: middle;
    text-align: center;
    position: absolute;
    top: 0;
}

#loadMorePreLoader > .ace-icon {
    vertical-align: middle;
}

body .form-group > label[class*="col-"] {
    padding-top: 7px;
}

.no-skin .navbar .sidebar-toggle {
    border-color: transparent;
}

body .editable-clear-x:before {
    right: 3px;
    margin-top: -8px;
}

#cardActivatedModal .modal-dialog {
    width: 900px;
}

#giftOrderedModal {
    font-size: 1.2em;
}

#giftOrderedModal .fa-check, #couponActivatedModal .fa-check {
    font-size: 2.5em;
}

#giftOrderedModal .success-caption, #couponActivatedModal .success-caption {
    font-size: 1.5em;
}

#couponActivatedModal .card-rating {
    font-size: 2.5em;
}

#giftOrderedModal .modal-header {
    height: 30px;
    border-bottom: none;
}

.purchase.profile .purchase {
    padding-left: 0;
    padding-right: 4px;
    padding-bottom: 20px;
}

.purchase.profile .purchase .panel {
    border-radius: 0;
    margin-bottom: 0;
}

.purchase.profile .purchase .panel:hover {
    box-shadow: 0 0 4px 2px rgba(0,0,0,0.15);
}

.purchase.profile .purchase .panel > .panel-body {
    padding: 5px;
}

.purchase.profile .purchase .panel > .panel-body.company-info {
    height: 60px;
    border-bottom: 1px solid #ddd;
}

.purchase.profile .purchase .panel > .panel-body.activity {
    padding: 10px;
}

.purchase.profile .purchase .panel > .panel-body.activity:hover {
    cursor: pointer;
}

.purchase.profile .purchase .panel > .panel-body.activity > .wrapper {
    height: 150px;
    overflow: hidden;
}

.purchase.profile .purchase .panel > .panel-body .price {
    font-size: 22px;
    line-height: 20px;
    height: 28px;
    text-align: center;
    color: #555;
}

.purchase.profile .purchase .panel > .panel-body .price .fa {
    font-size: 0.9em;
}

.purchase.profile .purchase .panel .actions .btn {
    font-size: 1.2em;
}

.purchase.profile .purchase .panel .progress {
    border-radius: 0;
    margin-bottom: 0;
}

.purchase.profile .purchase .panel .panel-body h4 {
    margin-left: 55px;
    margin-top: 3px;
    margin-bottom: 3px;
    height: 42px;
    overflow: hidden;
}

.purchase.profile .purchase .panel .panel-body.company-info {
    cursor: pointer;
}

.purchase.profile .purchase.disabled {
    position: relative;
}

.purchase.profile .purchase.disabled:after {
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    right: 5px;
    bottom: 20px;
    background-color: #ddd;
    opacity: 0.5;
    z-index: 2;
    content: "";
}


.clan.profile .profile-actions-links {
    padding: 4px 2px 5px;
    border: 1px solid #E0E2E5;
    background-color: #F8FAFC;
}

.clan.profile .info-block h2 {
    margin-top: 0;
}

.clan.profile .info-block .page-header h1 {
    font-size: 1.5em;
    margin-left: 0;
}

.clan.profile .profile-users .memberdiv {
    width: 85px;
}

.clan.profile .profile-users .user img {
    width: 56px;
}

/*Баланс*/

.balance.profile .well h1 {
    margin-bottom: 0;
}

/*Мастер регистрации*/

.company.registration-wizard #amountSum {
    display: inline-block;
}

.company.registration-wizard #step3 .btn-white {
    margin-top: -5px;
}


.company.registration-wizard #step2 .promo-cover .promo-info {
    position: absolute;
    bottom: 0;
    background: rgba(255, 255, 255, 0.7);
    height: 40px;
    width: 100%;
    padding: 5px;
}

.company.registration-wizard #step2 .promo-cover .promo-info .percent {
    margin-top: -5px;
}

@media (max-width: 479px)
{
    /*body .navbar:not(.navbar-collapse) .navbar-header {
        float: right !important;
    }*/

    /*body > .navbar.navbar-default {
        position: absolute;
    }*/

    .company.profile .profile-info-name, .user.profile .profile-info-name {
        width: 100%;
    }

    .company.profile .profile-user-info-striped .profile-info-value {
        padding-left: 0;
    }

    body .navbar:not(.navbar-collapse) .ace-nav {
        background-color: transparent;
        border: 0;
    }

    body .footer .footer-content > a {
        display: none;
    }
}

@media (max-width: 767px)
{
    body .navbar .navbar-code {
        float: none !important;
        text-align: center;
        clear: both;
        background-color: rgba(0,0,0,.15);
    }

    body .navbar .navbar-code .navbar-form {
        margin: 0;
    }

    body .navbar-fixed-top+.main-container {
        padding-top: 107px;
    }

    body .main-container.container:before {
        top: 92px;
    }

    body .footer {
        padding-top: 102px;
    }
}

@media (max-width: 319px)
{
    body .navbar-code form .form-group input {
        width: 160px;
    }

    body .footer .footer-content > a {
        display: none;
    }
}

@media (max-width: 479px)
{
    body button.sidebar-toggle ~.navbar-header.logo {
        display: none;
    }

    body .navbar-header.logo > a.navbar-brand {
        padding: 8px 10px;
    }
}

@media (min-width: 768px)
{
    body .container {
        width: 744px;
    }
}

@media (min-width: 992px)
{
    body .container {
        width: 964px;
    }
}

@media (min-width: 1200px)
{
    body .container {
        width: 1164px;
    }
}


#companyCategoriesSidebar ul.nav.nav-list li input {
    display: none;
}

.main-companies {
    position: relative;
    min-height: 350px;
}
.main-companies .companies > .row {
    padding-bottom: 20px;
}

.main-companies .companies .hr {
    margin: 20px 0;
}

.main-companies .companies .hr.visible-md:last-child, .main-companies .companies .hr.visible-sm:last-child, .main-companies .companies .hr.visible-xs:last-child {
    display: none !important;
}

.main-companies .companies .company {
    /*padding: 0 3px;*/
    /*margin-bottom: 20px;*/
}

.main-companies .companies .company .caption {
    height: 65px;
    text-align: center;
    max-width: 350px;
}

.main-companies .companies .company .caption h5 {
    font-weight: 100;
    margin-top: 10px;
    max-height: 35px;
    /*overflow: hidden;*/
}

.main-companies .companies .company .url {
    height: 20px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.main-companies .companies .company .logo-block {
    width: 100%;
    text-align: center;
    vertical-align: middle;
}

.main-companies .companies .company .logo-block > a {
    vertical-align: middle;
}

.main-companies .companies .company .logo-block img {
    max-height: 100%;
}

.main-companies .companies .company .loyalty {
    background-color: #F1F1F1;
    border: 1px solid #E6E6E6;
    padding: 5px 3px 2px;
    font-size: 0.85em;
    max-width: 350px;
}

.main-companies .companies .company .loyalty > div.col-xs-4 {
    padding: 0;
    cursor: default;
}

.main-companies .companies .company .loyalty > div.col-xs-4:hover > i {
    -moz-transform:scale(1.2);
    -webkit-transform:scale(1.2);
    -o-transform:scale(1.2);
    -ms-transform:scale(1.2);
    transform:scale(1.2)
}

.main-companies .companies .company .loyalty .value {
    font-size: 1.25em;
    margin-top: 3px;
    font-weight: bold;
}

table .status-action .btn+.btn {
    margin: 0 1px 0 0;
}

.editable-full-width .editable-buttons {
    display: block;
    float: right;
    position: absolute;
    right: 0;
    top: 0;
}
.editable-full-width .editable-container.editable-inline, .editable-full-width .editableform > .control-group, .editable-full-width .editableform .form-control {
    width:100%;
}

body .editable-full-width .editable-input {
    display: block;
    margin-right: 60px;
    width: auto;
}

.editable-full-width .editableform > .control-group {
    position: relative;
}

.nav.nav-pills.nav-xs {
    margin-right: 10px;
}

.nav.nav-pills.nav-xs li a {
    padding: 8px 15px;
}

/*Печать купона*/

.print-coupons .wrapper {
    padding: 10px 30px;
}

.print-coupons .wrapper .borders {
    border: 3px solid #000;
    border-radius: 10px;
}

.print-coupons .wrapper .borders .line {
    border-bottom: 1px solid #000;
}

.print-coupons .wrapper .borders .footer-description {
    padding: 5px 0;
}

.print-coupons .wrapper .borders .code-block {
    border-left: 1px solid #000;
}

.print-coupons .wrapper .borders .fa {
    font-weight: 100;
}

.print-coupons .hr-dash > img {
    position: absolute;
}

.print-coupons .hr-dash > img.dash {
    height: 1px;
}

.print-coupons .hr-dash > img.scissors {
    width: 25px;
    right: 50px;
    margin-top: -8px;
}

#loadMoreButtonWrapper {
    margin-bottom: 65px;
    margin-top: -65px;
    position: relative;
    bottom: 0;
    left: 0;
    right: 0;
}

#modalGiftPrintedDialog h3.card-sum {
    margin-top: 10px;
    margin-bottom: 0;
}

body .footer .footer-content .social-info {
    width: 250px;
}

/*body.no-skin .sidebar  .nav-list > li.open > a {
    background-color: #f8f8f8;
    color: #585858;
}

body.no-skin .sidebar .nav-list > li.active > a {
    background-color: #fafafa;
    color: #1963aa;
}

body.no-skin .sidebar  .nav-list > li.open .submenu {
    display: block;
}*/

body .container .main-about .row-info {
    line-height: 25px;
    vertical-align: middle;
}

body .navbar.navbar-fixed-top ~ .share-content {
    margin-top: 45px;
}

body .share-content .container.share-container {
    padding: 0;
}

body .share-content .share-header {
    min-height: 500px;
    background: url('../img/share/food_1014_blurred.jpg') no-repeat scroll 0 0 / cover  rgba(0, 0, 0, 0);
}

body .share-content .share-header .container.share-container {
    min-height: 500px;
    position: relative;
    padding: 50px 0;
}

body .share-content .share-header .container.share-container .background {
    background-color: white;
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0) 70%, rgba(255, 255, 255, 0.05) 90%, rgba(255, 255, 255, 0.4) 100%), url('../img/share/food_1014.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: -2px 0 5px -2px #444444, 5px 0 5px -5px #444444;
    height: 100%;
    position: absolute;
    z-index: 0;
    left: 0;
    right: 0;
    top: 0;
}

body .share-content .share-header .container.share-container .background:after {
    background: black;
    content: "";
    left: 0;
    opacity: 0.5;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 1;
    bottom: 0;
}

body .share-content .share-header .container.share-container .mentor-data, body .share-content .share-header .container.share-container .company-data {
    position: relative;
    display: inline-block;
}

body .share-content .share-header .container.share-container .mentor-data .avatar {
    border: 2px solid #fff;
    border-radius: 100%;
    max-width: 125px;
    margin: 0 40px 0 0;
}

body .share-content .share-header .container.share-container .mentor-data .title {
    padding: 23px 0;
}

body .share-content .share-header .container.share-container .mentor-data .title h2 {
    margin-top: 10px;
    max-width: 400px;
}

body .share-content .share-header .container.share-container .company-data .avatar {
    border: 2px solid #fff;
    border-radius: 100%;
    max-width: 90px;
    margin: 0 0 0 40px;
}

body .share-content .share-header .container.share-container .company-data .title {
    padding: 6px 0;
}

body .share-content .share-header .container.share-container .company-data .title h2 {
    margin-top: 10px;
    max-width: 400px;
}

body .share-content .share-header .container.share-container .hr {
    display: inline-block;
    width: 20%;
    margin: 30px 0 0 0;
    background-color: white;
    box-shadow: 1px 1px 1px #444444;
    height: 2px;
    opacity: 0.2;
}

body .share-content .share-header .container.share-container h3.desc {
    margin: 20px 30px 0 30px;
}

body .share-content .share-header .container.share-container a.btn.get-interest {
    /*background: linear-gradient(to top, rgba(0, 0, 0, 0.07), rgba(0, 0, 0, 0)) repeat scroll 0 0%, none repeat scroll 0 0;
    border: medium none;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.5) inset, 0 1px 2px rgba(255, 255, 255, 0.5) inset, 0 1px 1px rgba(0, 0, 0, 0.2);
    box-sizing: border-box;
    color: white;
    cursor: pointer;
    display: inline-block;
    letter-spacing: 1px;
    overflow: hidden;
    padding: 0 50px;
    position: relative;
    text-align: center;
    text-decoration: none;
    text-shadow: -1px -1px 1px rgba(0, 0, 0, 0.3);
    transition: background 50ms ease 0s !important;
    border-radius: 30px;
    height: 60px;
    line-height: 60px;
    font-size: 2em;
    */
    outline: none;
    border-radius: 30px;
    padding: 15px 50px;
    border: 0;
    /*background-color: #2179da !important;*/
}

body .share-content .share-list {
    background-color: #f7f8fa;
}

body .share-content .share-list > .container.share-container {
    padding: 20px 50px;
    background-color: #fff;
}

body .share-content .share-list > .container .h1 .purchase-progress {
    display: inline-block;
}

body .share-content .share-list > .container .h1 .purchase-progress .percentage {
    padding-top: 0;
    vertical-align: middle;
    width: 100px;
    height: 100px;
    line-height: 100px;
    color: #87B87F;
}

body .share-content .share-list > .container .users .user {
    overflow: auto;
    margin-top: 50px;
}

body .share-content .share-list > .container .users .user:first-child {
    margin-top: 0;
}

body .share-content .share-list > .container .users .user .avatar {
    border: 2px solid #fff;
    border-radius: 100%;
    max-width: 70px;
    margin: 1px 40px 0 0;
}

body .share-content .share-list > .container .users .user .title {
    max-width: 45%;
}

body .share-content .share-list > .container .users .user .itemdiv > .body {
    max-width: 40%;
    margin-left: 30px;
    min-width: 350px;
}

body .share-content .share-list > .container .users .user .itemdiv > .body.with-form {
    background-color: #f5f5f5;
    min-width: 40%;
}

body .share-content .connect-message {
    font-size: 1.2em;
    color: #efefef;
    margin: 0 30px;
}

.registration-wizard .pricing-box .price {
    font-size: 22px;
    line-height: 20px;
    height: 28px;
    text-align: center;
    color: #555;
}

.registration-wizard .pricing-box .widget-header {
    text-align: center;
    padding-left: 0;
}

.registration-wizard .pricing-box .widget-main > ul {
    height: 190px;
}

body .nav-tabs.tab-size-bigger > li > a > .ace-icon:first-child {
    display: block;
    margin-bottom: 6px;
    width: auto;
}

body .itemdiv:hover .tools {
    display: none;
}

body .itemdiv .body:hover .tools {
    display: inline-block;
}

.share-content .share-list > .container.main-container:before {
    display: none;
}

.share-content .social-or-login *:first-child {
    background-color: #fff;
}

.share-content .container.main-container {
    background-color: #fff;
}

body .share-content .share-list:before {
    position: absolute;
    background-color: #f7f8fa;
    left: 0;
    right: 0;
    top: 45px;
    bottom: 0;
    content: "";
    z-index: -1;
}


body .forgot-box .toolbar, body .signup-box .toolbar {
    padding-top: 10px;
    padding-bottom: 12px;
}

/*Widget*/

body.widget {
    max-height: 100%;
}

.container.widget-no-auth .h3 {
    font-size: 20px;
}

.container.widget-no-auth .work-system {
    font-size: 14px;
    line-height: 25px;
    height: 25px;
    vertical-align: middle;
}

.container.widget-no-auth .work-system a {
    height: 25px;
    outline: none;
}

.container.widget-no-auth .work-system a img {
    vertical-align: top;
}

.container.widget-auth .panel-body.activity {
    padding: 10px;
}

.container.widget-auth .panel-body.activity > .wrapper {
    max-height: 210px;
    padding-right: 6px;
    overflow: hidden;
}

.container.widget-auth .rules-popover .popover {
    max-width: 100%;
}

.container.widget-auth .progress {
    position: relative;
    margin-bottom: 0;
}

.container.widget-auth .progress > .sum {
    position: absolute;
    right: 8px;
}

.container.widget-auth .company-rules {
    /*height: 215px;*/
    padding: 20px 0;
}

.container.widget-auth .widget-purchase-wrapper {
    /*min-height: 288px;*/
    padding-bottom: 73px;
}

.container.widget-auth .balance, .container.widget-balance .balance {
    background-color: #fff;
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
}

#notificationContainer .alert {
    margin-bottom: 10px;
    padding: 10px;
}

#notificationContainer .alert:first-child {
    margin-top: 10px;
}

body.widget .balance .h5 {
    height: 34px;
    vertical-align: middle;
    line-height: 33px;
    margin: 0;
}

body.widget #gritter-notice-wrapper {
    width: auto;
    right: 20px;
    left: 20px;
}

body.widget .widget-auth ~ #gritter-notice-wrapper {
    top: 60px;
}

body.widget .light-login .login-container {
    margin: 0;
    width: 100%;
}

body.widget .light-login .widget-box {
    background: transparent;
    box-shadow: none;
    border: 0;
    padding: 0;
    margin: 0;
}

body.widget .login-layout .widget-box h4.header {
    margin-top: 0;
}

body.widget .login-layout .widget-box .widget-main {
    min-height: 356px;
}

body.widget .widget-balance .panel .panel-body {
    line-height: 33px;
    vertical-align: middle;
}

body.widget .widget-balance .panel .h3 {
    margin: 0;
}

body.widget .widget-balance .panel .h5 {
    margin: 5px 0;
}

body.widget .widget-balance .wrapper {
    /*max-height: 216px;*/
    padding-bottom: 73px;
}

body.widget .widget-balance .wrapper .scroll-content .panel:last-child {
    margin-bottom: 0;
}

body.widget .navbar .navbar-code {
    background: transparent;
    float: left;
    clear: none;
}

body.widget .navbar .navbar-toggle.pull-left {
    margin-top: 4px;
}

body.widget .navbar .navbar-code form {
    border: 0;
    padding-top: 9px;
}

body.widget .navbar .back-widget {
    margin-top: 2px;
    margin-left: 6px;
}

body.widget .navbar.navbar-fixed-top ~ .container.main-container:before {
    border-top: 0;
}

body.widget .navbar.navbar-fixed-top + .container.main-container {
    padding-top: 48px;
}

body.widget .navbar a.navbar-toggle {
    padding-top: 9px;
}

body.widget .navbar .on-balance {
    margin-right: 12px;
    height: 45px;
    line-height: 42px;
    color: #fff;
}

body.widget .widget-balance-phone .input-group-btn .btn, body.widget .widget-balance-coupon .input-group-btn .btn {
    line-height: 1;
    border-radius: 0;
    margin-left: 0;
}

body .input-group .input-group-btn .btn.btn-square {
    line-height: 1;
    border-radius: 0;
    margin-left: 0;
}

.share-content .social-login a {
    line-height: 50px;
}

/*Создание клана*/

#purchaseCreateClanDialog .modal-dialog {
    width: 800px;
}

body .login-box .toolbar > div > a {
    display: inline-block;
}

#widgetMenuSidebar {
    margin-top: -2px;
}

#connectDialog .widget-box {
    margin: 0;
    top: 0;
}


body #connectDialog .login-container {
    margin: 30px auto;
}


/*JqueryUI*/
.ui-autocomplete {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1140;
    float: left;
    display: none;
    min-width: 160px;
    _width: 160px;
    padding: 4px 0;
    margin: 2px 0 0 0;
    list-style: none;
    background-color: #ffffff;
    border-color: #ccc;
    border-color: rgba(0, 0, 0, 0.2);
    border-style: solid;
    border-width: 1px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    -webkit-background-clip: padding-box;
    -moz-background-clip: padding;
    background-clip: padding-box;
    *border-right-width: 2px;
    *border-bottom-width: 2px;
}
.ui-autocomplete .ui-menu-item {
    display: block;
    padding: 9px 12px;
    clear: both;
    font-weight: normal;
    line-height: 18px;
    color: #555555;
    white-space: nowrap;
    cursor: pointer;
    transition: background-color 0.3s ease-out 0s;
    border-top: 1px solid #dedede;
}

.ui-autocomplete .ui-menu-item:first-child {
    border-top: 0;
}

.ui-autocomplete .ui-menu-item:hover, .ui-autocomplete .ui-menu-item.ui-state-focus {
    background-color: #93cbf9;
}
.ui-helper-hidden-accessible {
    display: none;
}

.ui-autocomplete li {
    overflow: auto;
}

.ui-autocomplete .avatar {
    border: 2px solid #eee;
    border-radius: 100%;
    max-width: 54px;
    min-width: 54px;
    overflow: hidden;
}

.ui-autocomplete .content {
    margin-left: 70px;
    overflow: auto;
}

@media only screen and (min-width: 1200px) {
    .offer-page .offer-description {
        /*padding-right: 10px;*/
        /*width: 630px;*/
    }

    .offer-page .offer-info {
        /*padding-left: 0;*/
        /*width: 362px;*/
    }
}

@media only screen and (max-width: 350px) {
    .offer-page .offer-info > .col-xs-8 {
        /*padding-left: 0;*/
        /*width: 362px;*/
        margin-left: 0 !important;
        width: 100% !important;
    }
}

.offer-page .green {
    color: #86B97D !important;
}

.offer-page .offer-info .author-block a, .offer-page .offer-info .company-block a {
    /*display: block;*/
    outline: none;
    /*margin-right: 70px;*/
}


.offer-page .offer-info .action-buttons {
    padding-left: 20px;
    margin-left: 20px;
    border-left: 1px #ccc solid;
}

.offer-page .checkout-block .btn-app {
    display: block;
    width: auto;
    padding-bottom: 12px;
}

.offer-page .checkout-block .gift_code_light{
    display: block;
    width: auto;
    line-height: 1.25;
    border-width: 5px;
    padding: 20px 16px;
    background-color: #87b87f !important;
    border-color: #87b87f;
    color: #FFF!important;
    text-shadow: 0 -1px 0 rgba(0,0,0,.25)!important;
    background-image: none!important;
    border-radius: 0;
    box-shadow: none!important;
    vertical-align: middle;
    margin: 0;
    position: relative;
    text-align: center;
}

.offer-page .offer-cover .cover img {
    max-width: 100%;
}

#modalCheckOutDialog .modal-dialog {
    width: 800px;
}

#modalCheckOutDialog .author-block a {
    display: block;
    outline: none;
}

#modalCheckOutDialog .author-block > .links, .offer-page .offer-info .author-block > .links, .offer-page .offer-info .company-block > .links {
    margin-top: 10px;
}

#modalCheckOutDialog .author-block a:hover, .offer-page .offer-info .author-block a:hover, .offer-page .offer-info .company-block a:hover {
    text-decoration: none;
    opacity: 0.8;
}

#modalCheckOutDialog .author-block .avatar, .offer-page .offer-info .author-block .avatar, .offer-page .offer-info .company-block .avatar {
    border: 2px solid #CFD6DE;
    border-radius: 100%;
}

#modalCheckOutDialog .author-block .avatar {
    max-width: 75px;
    min-width: 75px;
    margin-top: 10px;
}

.offer-page .offer-info .author-block .avatar, .offer-page .offer-info .company-block .avatar {
    max-width: 50px;
    min-width: 50px;
    /*margin-top: 10px;*/
}

.offer-page .offer-info .author-block > div > span, .offer-page .offer-info .company-block > div > span {
    display: inline-block;
}

#modalCheckOutDialog .author-block .title, .offer-page .offer-info .author-block .title, .offer-page .offer-info .company-block .title {
    display: table-cell;
    overflow: hidden;
    height: 34px;
    vertical-align: bottom;
    color: #9585BF;
}

#modalCheckOutDialog .author-block .author-title-wrapper, .offer-page .offer-info .author-block .author-title-wrapper, .offer-page .offer-info .company-block .company-title-wrapper {
    margin-left: 65px;
    margin-top: -10px;
}

.offer-page .offer-info .stat-block .h1 {
    margin: 0;
    overflow: auto;
}

.offer-page .offer-info .stat-block .h1 .purchase-progress {
    display: inline-block;
    margin: 0 5px;
}

.offer-page .offer-info .stat-block .h1 .purchase-progress .percentage {
    color: #87b87f;
    height: 100px;
    line-height: 100px;
    padding-top: 0;
    vertical-align: middle;
    width: 100px;
}

.offer-page .offer-info .stat-block .h1 .text-left {
    padding-left: 120px;
}

.offer-page .offer-info .share-block .social-login a {
    line-height: 50px;
}

body.free-bg {
    background-color: #F1F4FB;
}

body.free-bg .container.main-container {
    margin-top: 27px;
    margin-bottom: 27px;
}

body.free-bg .container.main-container::before {
    top: 27px;
    border-top: 0;
    bottom: 27px;
    border-radius: 5px;
}

body.free-bg .navbar.navbar-fixed-top ~ .container.main-container {
    padding-top: 72px;
    margin-bottom: 27px;
    margin-top: 0;
}

body.free-bg .navbar.navbar-fixed-top ~ .container.main-container::before {
    top: 72px;
    border-top: 0;
}


body .offer-page .offer-info .buyers-block .itemdiv > .user {
    width: 52px;
}

body .offer-page .offer-info .buyers-block .itemdiv > .user > img {
    max-width: 52px;
}

body .offer-page .offer-info .buyers-block .itemdiv > .body {
    position: relative;
    margin-left: 62px;
    width: auto;
}

body .offer-page .offer-info .buyers-block .itemdiv > .body.with-form {
    background-color: #f5f5f5;
    min-width: 40%;
}

body .offer-page .offer-info .buyers-block .itemdiv > .body > .text:after {
    left: 10px;
    right: 0;
}

body .offer-page .offer-info .buyers-block .itemdiv .body .tools {
    bottom: 10px;
}

/*body .offer-page .offer-info .re-share {
    border: 1px #eee solid;
    padding: 10px;
}

body .offer-page .offer-info .re-share .btn-info {
    border-radius: 100%;
    border: 0;
    width: 50px;
    height: 50px;
    line-height: 49px;
    vertical-align: middle;
}

body .offer-page .offer-info .re-share .sum {
    margin-left: 10px;
}*/


body .container.company.manager .content {
    margin-left: 0;
}

body .container.company.manager .footer > .footer-inner {
    margin-left: 8px;
}

body .container.company.manager .btn-lg {
    line-height: 1.25;
}

.infobox-icon {
    display: inline-block;
    vertical-align: top;
    width: 44px
}

.infobox-blue {
    color: #6FB3E0;
}

.infobox-icon > .ace-icon {
    display:inline-block;
    height:42px;
    margin:0;
    padding:1px 1px 0 2px;
    background-color:transparent;
    border-width:0;
    text-align:center;
    position:relative;
    border-radius:100%;
    -webkit-box-shadow:1px 1px 0 rgba(0,0,0,.2);
    box-shadow:1px 1px 0 rgba(0,0,0,.2)
}

.infobox-icon > .ace-icon:before {
    font-size:24px;
    display:block;
    padding:6px 0 7px;
    width:40px;
    text-align:center;
    border-radius:100%;
    color:#FFF;
    color:rgba(255,255,255,.9);
    background-color:transparent;
    background-color:rgba(255,255,255,.2);
    text-shadow:1px 1px 1px rgba(0,0,0,.14)
}

.infobox-blue > .ace-icon {
    background-color: #6FB3E0;
}

.offer-page .company-block .links .fa {
    color: #A0CDFB;
}

#modalOfferSellDialog .widget-header {
    padding-left: 0;
}

#modalOfferSellDialog .modal-dialog {
    width: 800px;
}

#modalOfferSellDialog .ace-spinner {
    width: 100% !important;
    margin-bottom: -5px;
}

#modalOfferSellDialog .ace-spinner input {
    display: none;
}


#modalOfferSellDialog .ace-spinner .spinner-buttons > .btn {
    margin: auto !important;
    height: 40px;
}

#modalOfferSellDialog .ace-spinner .spinner-buttons > .spinner-down {
    right: 1px;
}

#modalOfferSellDialog .ace-spinner .spinner-buttons > .spinner-up {
    left: 1px;
}

#partnersIteration.dataTable > thead > tr > th.sorting_disabled {
    color: #666;
}

#partnersIteration.dataTable > tbody tr > td:last-child {
    white-space: nowrap;
}

.offer-page.as-gift .social-share a {
    border-radius: 7px !important;
}

.btn.btn-round-7 {
    border-radius: 7px !important;
}

.offer-page.as-gift.main-container {
    position: relative;
}

body.free-bg .offer-page.as-gift.main-container:before {
    top: 0;
    bottom: -9px;
}

.container{
    min-width: 960px !important;
}
