@import "../_partials/fonts";
.navbar-brand{
  img{
    width: 110px;
  }
}
.navbar .navbar-nav>li>a{
  padding-top: 0;
}
.admin-logo{
  color:#fff !important;
  font-size: 35px !important;
}
.table{
  td{
    &:first-child, &:last-child{
      text-align: center;
    }
  }
}


.animated {
  -webkit-animation-duration: .5s;
  animation-duration: .5s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.animated.infinite {
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}

.animated.hinge {
  -webkit-animation-duration: .7s;
  animation-duration: .7s;
}

.animated.flipOutX,
.animated.flipOutY,
.animated.bounceIn,
.animated.bounceOut {
  -webkit-animation-duration: .75s;
  animation-duration: .75s;
}

@-webkit-keyframes slideOutRight {
  from {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }

  to {
    visibility: hidden;
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
  }
}

@keyframes slideOutRight {
  from {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }

  to {
    visibility: hidden;
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);

  }
}

.slideOutRight {
  -webkit-animation-name: slideOutRight;
  animation-name: slideOutRight;
}

@-webkit-keyframes slideOutLeft {
  from {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }

  to {
    visibility: hidden;
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }
}

@keyframes slideOutLeft {
  from {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }

  to {
    visibility: hidden;
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }
}

.slideOutLeft {
  -webkit-animation-name: slideOutLeft;
  animation-name: slideOutLeft;
}
.table{
  overflow: hidden;
}
.gritter-item{
  font-family: Roboto;
}
.img-upload-wrapper{
  input[type='file']{
    display: none;
  }
  img{
    height:130px;
    border: 1px solid #cecece;
    margin: 5px 0;
    padding: 10px;
    &:hover{
      cursor: pointer;
    }
  }
}
.tags{
  display: block;
  width: 100%;
}
.editor-wrapper{
  textarea[name='full_description'],textarea[name='welcome'],textarea[name='description']{
    display: none;
  }
}
.tags{
  padding: 6px;
}
.right-col-products{
  .form-group{
    &:nth-child(0),&:nth-child(1),&:nth-child(2){
      margin-bottom: 29px;
    }
  }
}
.chosen-choices{
  min-height: 34px;
}
.input-group-addon{
  &:hover{
    cursor: pointer;
  }
}
.ui-datepicker {
  z-index: 2000;
}
.datepicker-orient-bottom{
  .datepicker-days{
    display: block;
  }
}
.login-box .toolbar>div:first-child{
  width: 100%;
  text-align: center;
  color: #fff;
}
.removeElem{
  display: block;
  line-height: 40px;
}
.del-wrapper{
  label{
    margin: 0;
  }
}
.nav {
  .green {
    background-color: #2e8965 !important;
    i.drin-this{
      display: inline-block;
      -moz-animation: vertical 2.0s 5 ease 2.0s;
      -webkit-animation: vertical 2.0s 5 ease 2.0s;
      -o-animation: vertical 2.0s 5 ease 2.0s;
      -ms-animation: vertical 2.0s 5 ease 2.0s;
      animation: vertical 2.0s 5 ease 2.0s;
    }
  }
}
.tbl-dialog{
  td{
    vertical-align: middle !important;
    &:last-child, &:first-child{
      text-align: left;
    }
  }
}
.wrapper-dialog{
  .alert{
    display: inline-block;
    border-radius: 4px;
    box-shadow: 1px 1px 3px #eee;
    &.alert-info{
      .header-quest{
        text-align: left;
      }
    }
    &.alert-success{
      .header-quest{
        text-align: right;
      }
    }
    .header-quest{
      border-bottom: 1px solid #31708f;
    }
  }
  .user-manager{
    text-align: right;
  }
}
.breadcrumb{
  margin-left: 0;
  padding: 8px 15px;
  margin-bottom: 20px;
  list-style: none;
  background-color: #f5f5f5;
  border-radius: 4px;
  display:block;
  margin-right: 0;
}
.sum-total{
  text-align: right !important;
}
.order-row{
  th:first-child{
    text-align: center !important;
  }
  th:last-child{
    text-align: center !important;
  }
}
.wrapper-price{
  position: relative;
  h3{
    margin-top: 0;
  }
  .preloader{
    z-index: -1;
    opacity: 0;
    position: absolute;
    &.active{
      opacity: 1;
      position: absolute;
      width: 100%;
      text-align: center;
      height: 100%;
      background-color: rgba(0,0,0,.3);
      color: #fff;
      z-index: 100;
      transition: .3s;
      i{
        top: 35%;
        position: absolute;
        left: 45%;
      }
    }
  }
}
.text-left{
  text-align: left !important;
}
.text-center{
  text-align: center !important;
}
.text-right{
  text-align: right !important;
}
